apiVersion: apps/v1
kind: Deployment
metadata: 
  name: deploy
spec:
  replicas: 3
  selector:
    matchLabels:
      env: dev
  template:
    metadata:
      name: tmp-game
      labels:
        env: dev
    spec:
      containers:
        - name: c1
          image: abhinagare/abhi-new-repo:v2
          ports:
          - containerPort: 80

---

apiVersion: v1
kind: Service
metadata:
  name: svc-game
spec:
  selector:
    env: dev
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: NodePort
